/* Tornar a barra lateral fixa na esquerda e ocupar toda a altura visível da tela */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Altura total da viewport */
  width: 280px; /* Largura fixa */
  background-color: #002447; /* Cor de fundo */
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}



a {
  color: white !important;
  text-decoration-line: none !important;
  text-decoration: none !important;
}
