.layout {
  display: flex;
}


.sidebar h2 {
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
}

.sidebar li:hover {
  text-decoration: underline;
}

.control-panel {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-panel {
  flex: 1;
  margin-right: 20px;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-message {
  color: green;
  font-weight: bold;
}
